<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="header">
        <div class="navbar"><a href="/" class="navbar-brand">Gestão de Produtos</a></div>
    </div>
    <div class="container">
        <h1>Erro</h1>
        <div class="error-container">
            <p><%= message %></p>
            <a href="/produtos" class="btn">Voltar para Lista</a>
        </div>
    </div>
</body>
</html>